:root {
  --white: #ffffff;
  --blueshade: #3685ff;
  --blue: #2c7dfa;
  --darknavy: #1f314f;
  --grey: #7d889e;
  --lightgrey: #d5e1ef;
}

html {
  font-size: 15px;
  font-family: "Outfit", sans-serif;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 100%;
}

body {
  width: 100%;
  height: 100%;
  background-color: var(--lightgrey);
}

.container {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.card {
  height: 33.1333rem;
  width: 21.3333rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1.0667rem;
  background-color: var(--white);
  -webkit-box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.0476518);
  box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.0476518);
  border-radius: 20px;
  text-align: center;
}

.card img {
  height: 19.2rem;
  width: 19.2rem;
  border-radius: 10px;
}

h1 {
  height: 3.7333rem;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  margin-top: 1.6rem;
  margin-bottom: 1.0667rem;
  color: var(--darknavy);
}

.card p {
  color: var(--grey);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2667rem;
  letter-spacing: 0.0125rem;
  padding: 0 1.0667rem;
}
